%a#info-gcal
%hr
.well
  .row-fluid
    %h2.pull-left{style: "margin-left:20px"}
      How to use RoutineBuilders with google calendar 
  %br
  .row-fluid
    %h1
      Reminders
  %br
  .row-fluid
    .lead
      Configure your phone to use 
      %a{href: "http://www.google.com/mobile/sms/calendar/", target: "_blank"}
        google calendar sms 
      by registering your mobile phone at
      %a{href: "http://google.com/calendar", target: "_blank"}
        google.com/calendar 
      and completing Settings > Mobile Setup.
    .lead You will then be able to  receive text message notifications for the events on your calendar.
  %br
  %br
  %br
  %br
  .row-fluid
    %h1.span2.offset1 
      Why?
    .lead.span8.offset1
      Text message reminders are the "Now" in Do and Achieve More Now! They let you know what you have to do when the time is now.
  %br
  %br
  %br
  .row-fluid
    %h1 Then
  .row-fluid
    .span6
      %br
      %br
      %br
      %br
      %br
      %br
      .row-fluid
        .lead.span10.offset1 1. Download your customized routine and import it to your calendar. 
      %br
      %br
      %br
      %br
      %br
      %br
      .row-fluid
        =image_tag "Drag_n_Drop.jpg"
    .span6
      .row-fluid
        =image_tag "import.jpg"
      %br
      %br
      %br
      .row-fluid
        .lead.span10.offset1 2. To Import - Drag and drop the file Routinebuilders.ics into the import window
  %br
  %br
  %br
  .row-fluid
    .lead.span6.offset2 
      3. DO AND ACHIEVE MORE...NOW!
    %a{href: "/users/sign_up"}
      .offset1.btn.btn-large.btn-primary
        Sign Up!

