%a#info-outlook
%hr
.well
  .row-fluid
    %h2.pull-left{style: "margin-left:20px"}
      How to use RoutineBuilders with outlook calendar 
  %br
  .row-fluid
    %h1
      Reminders
  %br
  .row-fluid
    .lead
      %ol
        %li In Outlook Web App, click Options > See All Options > Phone > Text Messaging tab.
        %li 
          Click 
          %strong Set up calendar notifications. 
          If you don't see this link, notifications aren't set up yet. To set them up, click Set Up Notifications and follow the steps to turn on notifications that were provided earlier. 
        %li 
          Choose 
          %strong Notifications for meeting reminders. 
          After you select this check box, you'll receive reminders of upcoming meetings in a text message. You can also choose to have notifications sent only during working hours. 
        %li
          %strong Click 
          Save. 
    .lead You will then be able to  receive text message notifications for the events on your calendar.
  %br
  %br
  %br
  %br
  .row-fluid
    %h1.span2.offset1 
      Why?
    .lead.span8.offset1
      Text message reminders are the "Now" in Do and Achieve More Now! They let you know what you have to do when the time is now.
  %br
  %br
  %br
  .row-fluid
    %h1 Then
  .row-fluid
    .span6
      %br
      %br
      %br
      %br
      %br
      %br
      .row-fluid
        .lead.span10.offset1 1. Download your customized routine and import it to your calendar. 
      %br
      %br
      %br
      %br
      %br
      %br
      .row-fluid
  .row-fluid
    .lead.span6.offset2 
      3. DO AND ACHIEVE MORE...NOW!
    %a{href: "/users/sign_up"}
      .offset1.btn.btn-large.btn-primary
        Sign Up!

