.container
  -#.row.well{style: "text-align:center;background-color:#80bfff;color:#fff;padding-bottom:0px;"}
  .row-fluid
    .hero-unit{style: "text-align:center;padding:15px 25px 25px 25px;background-color:#80bfff;color:#fff;margin-bottom:0px;"}
      %h2{style: "margin-top:0px"}
        Build Your DAMN Schedule
      %h1{style: "font-size:35px;font-weight:400;"}
        Do &amp; Achieve More Now!
  .row-fluid{style: "margin-top:20px;text-align:center;color:#666;"}
    .span4
      %div
        .row-fluid
          %a.btn.btn-large.btn-primary.span12{href: "/routines"}
            Browse 
        %br
      =render 'layouts/search_tags'
      %div{style: "margin-bottom:20px"}
        =image_tag "pinit.jpeg"
      .row-fluid
        .btn.btn-large.btn-danger.span12
          Share Ideas
    %a{href: "/routines/#{@routine.id}"}
      :css
        .routine{
          margin-top: 5%;
          position:relative;
          left: 15%;
        }
      =render 'routines/routine'
    :javascript
      options = {};
      options['content'] = "#{@routine.purpose.squish}"
      options['animation'] = true;
      options['placement'] = 'right';
      options['trigger'] = "hover";
      $(".routine_view").popover(options);
    .span4.offset1
      -#{style: "font-family:'Anton', Georgia, 'Times New Roman', sans-serif;font-weight: normal;font-size: 2.0em;letter-spacing: .2em;line-height: 1.6em;text-align: center;text-transform: uppercase;"}
      .row
        .btn.btn-large.btn-info.span12
          Routines 
      .row{style: "margin-top:30px"}
        =image_tag "calendars.png"
      .row{style:"margin: 14px 0px"}
        =image_tag "message.jpg"
      .row
        .btn.btn-large.btn-success.span12
          Get Reminders
  .row-fluid
    %br
    %p
      How to configure reminders: 
      %a{href: '#info-gcal'}
        gcal
      ,
      %a{href: '#info-icalendar'}
        icalendar
      ,
      %a{href: '#info-outlook'}
        outlook 
  =render 'info_gcal'
  =render 'info_outlook'
