.container
  %ul
    %li I built RoutineBuilders in my spare time because I struggle with long term improvements. 
    %li I have worked towards many goals but often felt like I hadn't made it as far as I had originally set out to progress.
    %li Routinebuilders encourages long term commitment to self improvement. 
