%ul.well.nav.navbar.nb-leftnav.sidebar-nav-fixed
  %li
    %a{:href => "/routines"}
      %div
        %i.icon-reorder
      Browse
  %li
    %a{:href => "/schedule"}
      %div
        %i.icon-calendar
      My Routines 
  %li
    %a{:href => "/build"}
      %div
        %i.icon-wrench
      Build a Routine
  %li
    %a{:href => "/view_users"}
      %div 
        %i.icon-group
      Browse By Users
